- content_for :head do
  = stylesheet_link_tag 'deckhand/bootstrap-3.0.3/css/bootstrap'
  = stylesheet_link_tag 'deckhand'
  = stylesheet_link_tag 'deckhand/theme'

  :javascript
    window.DeckhandGlobals = {
      searchPath: '#{deckhand.search_data_path}',
      showPath: '#{deckhand.data_path}',
      templatePath: '#{deckhand.templates_path}',
      fieldTypes: #{Deckhand.config.field_types.to_json},
      ckeditor: "#{Deckhand.config.global_config.plugins.ckeditor}"
    };

  = javascript_include_tag 'deckhand/index'

#search
  .container
    .row
      .col-sm-4(ng-controller="SearchCtrl")
        %form(ng-submit="search()")
          .form-group
            %i.glyphicon.glyphicon-search(ng-hide="term")
            %i.glyphicon.glyphicon-remove(ng-show="term" ng-click="reset()")
            %input#search-input.form-control(type="text" ng-model="term" autofocus)

        #search-results.list-group
          %a.list-group-item(ng-repeat="result in results" ng-click="showCard(result._model, result.id)")
            {{result._model}}: {{result._label}}

        %ul#no-results.list-group(ng-show="noResults")
          %li.list-group-item No results

        %h4(ng-show="cards.length > 0") Opened cards
        #opened-cards.list-group
          %a.list-group-item(ng-repeat="item in cards" ng-click="showCard(item._model, item.id)")
            {{item._model}}: {{item._label}}

.container
  .row
    .col-sm-8.col-sm-offset-4
      #cards(ng-controller="CardsCtrl")
        %div(ng-repeat="item in cards" ng-include="template(item)")

