- content_for :head do
  = stylesheet_link_tag 'deckhand/bootstrap-3.0.3/css/bootstrap.min'
  = stylesheet_link_tag 'deckhand'
  = stylesheet_link_tag 'deckhand/theme'

- content_for :end_js do
  = javascript_include_tag 'deckhand/index'
  :javascript
    Deckhand.init({
      searchPath: '#{deckhand.search_data_path}',
      showPath: '#{deckhand.data_path}'
    });

.container
  .row
    .col-sm-4
      .form-group#search
        %i.glyphicon.glyphicon-search
        %input#search-input.form-control(type="text")

      %ul#search-results.list-group

    .col-sm-8
      #cards

= render 'deckhand/templates'

-# %pre= raw Deckhand.config.models_by_name
-# %pre= raw Deckhand.config.model_search