- content_for :head do
  :javascript
    window.Deckhand = {
      searchPath: '#{deckhand.search_data_path}',
      showPath: '#{deckhand.data_path}',
      templatePath: '#{deckhand.templates_path}',
      ckeditor: "#{Deckhand.config.plugins.ckeditor}",
      models: #{Deckhand.config.models_config.to_json}
    };

  = javascript_include_tag 'deckhand/index'

%nav.navbar.navbar-default.navbar-fixed-top(role="navigation" ng-controller='NavCtrl')
  .container
    %a.navbar-brand Deckhand

    %ul.nav.navbar-nav
      %li.dropdown
        %a.dropdown-toggle(href="#")
          %span.glyphicon.glyphicon-plus
        %ul.dropdown-menu
          - Deckhand.config.actions.each do |action, config|
            %li
              %a(ng-click="act('#{action}', '#{config.to_json}'), ''")= config.label

    %form.navbar-form.navbar-left
      #search.form-group
        %i.glyphicon.glyphicon-search(ng-class="{loading: loading}")
        %input.form-control(type="text" ng-model="result" autofocus
          typeahead="result as result._label for result in search($viewValue)"
          typeahead-loading="loading"
          typeahead-template-url="typeahead-search"
          typeahead-on-select="select()"
          typeahead-wait-ms="300")

    %ul.nav.navbar-nav
      %li.dropdown
        %a.dropdown-toggle(href="#") Lists
        %ul.dropdown-menu
          - Deckhand.config.models_to_list.each do |model|
            %li
              %a(ng-click="show('#{model}', 'list')")= model.pluralize

#alerts
  %alert.fader-animation(ng-repeat="alert in alerts" type="alert.type" close="alert.close()")
    .container {{alert.message}}

#sidebar(ng-controller='SidebarCtrl')
  .container
    .row
      .col-sm-4
        #opened-cards.list-group
          %a.list-group-item(ng-repeat="item in cards" ng-click="show(item._model, item.id)")
            {{item._label}}
            %i.glyphicon.glyphicon-remove(ng-click="remove(item)")

.container
  .row
    .col-sm-8.col-sm-offset-4

      #cards(ng-controller='CardListCtrl')
        %div(ng-repeat="item in cards" ng-include="cardTemplate(item)" dh-scroll-to='showCard')

%script(type="text/ng-template" id="typeahead-search")
  %a
    %span {{match.label}}

%script(type="text/ng-template" id="modal-ckeditor")
  .modal-header
    %h3 {{title}}

  .modal-body.ckeditor
    %textarea(ckeditor="true" ng-model="form[name]")

  .modal-footer.ckeditor
    %button.btn.btn-default(ng-click="cancel()") cancel
    %button.btn.btn-primary(ng-click="submit()") continue
