- content_for :head do
  = stylesheet_link_tag 'deckhand/bootstrap-3.0.3/css/bootstrap'
  = stylesheet_link_tag 'deckhand'
  = stylesheet_link_tag 'deckhand/theme'

  :javascript
    window.Deckhand = {
      searchPath: '#{deckhand.search_data_path}',
      showPath: '#{deckhand.data_path}',
      templatePath: '#{deckhand.templates_path}',
      ckeditor: "#{Deckhand.config.plugins.ckeditor}",
      fieldTypes: #{Deckhand.config.field_types.to_json}
    };

  = javascript_include_tag 'deckhand/index'

#search
  .container
    .row
      .col-sm-4(ng-controller="SearchCtrl")
        .form-group
          %i.glyphicon.glyphicon-search(ng-class="{loading: loading}")
          %input#search-input.form-control(type="text" ng-model="result" autofocus
            typeahead="result as result._label for result in search($viewValue)"
            typeahead-loading="loading"
            typeahead-template-url="typeahead-search"
            typeahead-on-select="show()"
            typeahead-wait-ms="300")

        #opened-cards.list-group
          %a.list-group-item(ng-repeat="item in cards" ng-click="showCard(item._model, item.id)")
            {{item._label}}

.container
  .row
    .col-sm-8.col-sm-offset-4

      #alerts
        %alert(ng-repeat="alert in alerts" type="alert.type" close="alert.close()") {{alert.message}}

      #cards
        %div(ng-repeat="item in cards" ng-include="cardTemplate(item)")

%script(type="text/ng-template" id="typeahead-search")
  %a
    %span {{match.label}}
