- content_for :head do
  = stylesheet_link_tag 'deckhand/bootstrap-3.0.3/css/bootstrap.min'
  = stylesheet_link_tag 'deckhand'
  = stylesheet_link_tag 'deckhand/theme'

- content_for :end_js do
  = javascript_include_tag 'deckhand'
  :javascript
    Deckhand.init(#{Deckhand.config.model_names});

.container
  .row
    .col-sm-4
      .form-group#search
        %i.glyphicon.glyphicon-search
        %input#search-input.form-control(type="text")

      %ul#search-results.list-group

    .col-sm-8
      #cards

= render 'deckhand/templates'
