:ruby
  columns_json = model_config.table_fields.reduce({}) do |obj, field|
    name, options = field
    obj[name] = options[:table].map do |c|
      {name: c, friendlyName: readable_method_name(c)}
    end
    obj
  end.to_json.html_safe

.card.panel.panel-info(ng-controller="CardCtrl" ng-init="init(item, #{columns_json})")
  .panel-heading
    %h3.panel-title
      %span.right
        %a.glyphicon.glyphicon-refresh(ng-click="refresh()")
        %a.glyphicon.glyphicon-remove(ng-click="remove(item)")
      {{item._label}}

  .panel-body
    %dl.dl-horizontal
      - model_config.flat_fields.each do |name, options|
        %dt= options[:label] || readable_method_name(name)
        %dd
          %dh-field(model="'#{@model}'" item="item" name="'#{name}'")

  - model_config.table_fields.each do |name, options|

    %h4.table-title(ng-click="toggleTable('#{name}')")
      %span.glyphicon.glyphicon-chevron-down(ng-class="{collapsed: collapse['#{name}']}")
      = options[:label] || readable_method_name(name)
      %span(ng-show="!lazyLoad['#{name}']") ({{item.#{name}.length}})

    %div(collapse="collapse['#{name}']")
      %dh-table(columns="columns.#{name}" model="#{@model}" relation=name items="item.#{name}" on-show-item="show(item._model, item.id)")

  - if model_config.actions.any?
    .panel-footer
      - model_config.actions.each do |name, options|
        %button.btn.btn-default(ng-click="act(item, '#{name}', #{options.to_json})" ng-show="#{show_action?(options[:if], options[:unless])}")
          = options[:label] || readable_method_name(name)
