.card.panel.panel-info(ng-controller="CardCtrl" ng-init="init(item)")

  .panel-heading
    %h3.panel-title
      %span.right
        %a.glyphicon.glyphicon-refresh(ng-click="refresh()")
        %a.glyphicon.glyphicon-remove(ng-click="remove(item)")
      {{item._label}}

  .panel-body
    %dl.dl-horizontal
      - model_config.flat_fields.each do |name, options|
        %dt= options[:alias] || readable_method_name(name)
        %dd
          %dh-field(model=@model item="item" name=name)

  - model_config.table_fields.each do |name, options|

    %h4.table-title(ng-click="toggleTable('#{name}')")
      %span.glyphicon.glyphicon-chevron-down(ng-class="{collapsed: collapse['#{name}']}")
      = options[:alias] || readable_method_name(name)
      %span(ng-show="!lazyLoad['#{name}']") ({{item.#{name}.length}})

    %div(collapse="collapse['#{name}']")
      %table.table
        %thead
          %tr
            %th &nbsp;
            - options[:table].each do |column|
              %th= readable_method_name column
        %tbody
          %tr(ng-repeat="nested_item in item.#{name}")
            %td
              %a.glyphicon.glyphicon-new-window(ng-click="show(nested_item._model, nested_item.id)")
            - options[:table].each_with_index do |column, i|
              %td
                %dh-field(model=@model relation=name item="nested_item" name=column)

  - if model_config.actions.any?
    .panel-footer
      - model_config.actions.each do |name, options|
        %button.btn.btn-default(ng-click="act(item, '#{name}', #{options.to_json})" ng-show="#{show_action?(options[:if])}")
          = options[:alias] || readable_method_name(name)
