.panel.panel-default
  .panel-heading
    %h3.panel-title
      %span.right
        %a.glyphicon.glyphicon-edit(href="/admin/{{item._model.toLowerCase()}}/{{item.id}}/edit" target="_blank")
        %a.glyphicon.glyphicon-remove(ng-click="close(item)")
      {{item._model}}: {{item._label}}
  .panel-body
    %dl.dl-horizontal
      - flat_fields.each do |name, options|
        %dt= readable_field_name name
        %dd= angular_binding name, options

  - if table_fields.any?
    %table.table
      - table_fields.each do |name, options|
        %thead
          %tr
            %th(colspan="#{options[:table].size}")
              %h4= readable_field_name name
          %tr
            - options[:table].each do |column|
              %th= readable_field_name column
        %tbody
          - singular = name.to_s.singularize
          %tr(ng-repeat="#{singular} in item.#{name}")
            - options[:table].each_with_index do |column, i|
              %td= angular_binding column, item: singular, link_to_item: i == 0

  - if actions.any?
    .panel-footer
      - actions.each do |name, options|
        %button(ng-click="act(item, '#{name}', #{options.to_json})")= name
