:ruby
  columns_json = {
    @name => @columns.map do |c|
      {name: c, friendlyName: readable_method_name(c)}
    end
  }.to_json.html_safe

.card.panel.panel-info(ng-controller="CardCtrl" ng-init="init(item, #{columns_json})")
  .panel-heading
    %h3.panel-title
      %span.right
        %a.glyphicon.glyphicon-refresh(ng-click="refresh()")
        %a.glyphicon.glyphicon-remove(ng-click="remove(item)")
      {{item._label}} ({{item.#{@name}.length}})

  %div(collapse="collapse['#{@name}']")
    %dh-table(columns="columns.#{@name}" model="#{@model}" items="item.#{@name}" on-show-item="show(item._model, item.id)")
