.panel.panel-default
  .panel-heading
    %h3.panel-title
      %span.right
        %a.glyphicon.glyphicon-remove(ng-click="close(item)")
      {{item._model}}: {{item._label}}
  .panel-body
    %dl.dl-horizontal
      - flat_fields.each do |name, options|
        %dt= readable_field_name name
        %dd= angular_binding 'item', name, options

  - if table_fields.any?
    %table.table
      - table_fields.each do |name, options|
        %thead
          %tr
            %th(colspan="#{options[:table].size}")
              %h4= readable_field_name name
          %tr
            - options[:table].each do |column|
              %th= readable_field_name column
        %tbody
          %tr(ng-repeat="nested_item in item.#{name}")
            - options[:table].each_with_index do |column, i|
              %td= angular_binding 'nested_item', column, plural: name, link_to_item: i == 0

  - if actions.any?
    .panel-footer
      - actions.each do |name, options|
        %button(ng-click="act(item, '#{name}', #{options.to_json})")
          = readable_action_name name
