.modal-header
  %h3 {{title}}

.modal-body
  .alert.alert-danger(ng-show="error") {{error}}
  %span(ng-show="prompt") {{prompt}}

  %form.form-horizontal
    - @inputs.each do |name, options|
      = render 'deckhand/templates/modal_form/input', name: name, options: options, prefix: 'form'

    - @input_groups.each do |group_name, group|
      %fieldset
        %legend
          = readable_method_name group_name
          %a.glyphicon.glyphicon-plus(ng-click="form.#{group_name}.push({})")
        .well(ng-repeat="nested_item in form.#{group_name}")
          %button.close(ng-click="form.#{group_name}.splice($index)") &times;
          - group[:inputs].each do |name, options|
            = render 'deckhand/templates/modal_form/input', name: name, options: options, prefix: 'nested_item'

.modal-footer
  %button.btn.btn-default(ng-click="cancel()") cancel
  %button.btn.btn-primary(ng-click="submit()") continue
