!!!
%html(ng-app="Deckhand")
  %head
    %title Deckhand
    = stylesheet_link_tag 'deckhand'
    = stylesheet_link_tag 'deckhand/theme'
    = yield :head
  %body.deckhand(ng-controller="RootCtrl")
    = yield
    = yield :end_js